.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.List-half {
  width: 50%;
  float: left;
}

.Selected-item {
  margin: 65px 50px 50px 50px;
}
