.List-item {
  margin-bottom: 15px;
}
.List-item span {
  display: inline-block;
  margin-right: 10px;
}
.List-item .List-streetAddress {
  display: block;
}
.List-item a {
  border: 1px solid #f1f1f1;
  padding: 10px;
  display: block;
  width: 100%;
  height: 100%;
  color: #8F7469;
}
.List-item a:hover {
  background-color: #f1f1f1;
}
