.List-item {
  margin-bottom: 15px;
}
.List-item table {
  width: 100%;
}
.List-item .List-streetAddress {
  display: block;
}
.List-item {
  border: 1px solid #f1f1f1;
  padding: 10px;
  display: block;
  height: 100%;
  color: #8F7469;
  transition: background-color 0.4s ease;
}
.List-item:hover {
  background-color: #f1f1f1;
}
